.postProduct{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 10rem;
}

.input-group{
    width: fit-content;
}